/* CSS Document */
*{
	margin: 0;
	padding: 0;
}
body{
	background-color:rgb(244,244,244);
}
header{
	width: 1600px;
	heoght:200px;
}
.head{
	width:1600px;
	height: 30px;
	background-color: black;
}
.head a{
	text-decoration: none;
	color: #ccc;
}
.login{
	color: #ccc;
	text-align: right;
	padding-right: 300px;
	padding-top: 3px;
}
.logo{
	width: 1600px;
	height: 95px;
}
.logo img{
	padding-left: 200px;
	padding-right: 300px;
	float: left;
}
.sousuo{
	height:65px;
	width: 445px;
	float: left;
	border:2px solid rgba(255,151,98,1.00);
	text-align: center;
	position: relative;
	margin-top: 20px;
	
}
.sousuo img{
	float: left;
}
.logo .in{
	float: left;
	height: 65px;
	width: 375px;
	font-size: 24px;
	border: none;
	text-align: center;
}
.fangdajing{
	float: left;
	width: 65px;
	height: 65px;
	border:none;
}
.menu{
	width: 100%;
	height: 65px;
	clear: both;
	background-color:rgba(255,135,81,1.00);
	list-style: none;
	
}
 .menu ul{
	height: 65px;
	width: 60%;
	list-style: none;
	margin: 0 auto;
	padding-top: 15px;
	
}
.menu li{
	margin: 0 40px;
	display: inline;
}
.menu a{
	text-decoration: none;
	color: black;
	font-size: 26px;
	color: white;
}
.main{
	background-image:url(../images/huati/main_bg.png);
	width:1600px;
	height:1350px;
}
.content{
	width:1024px;
	height:1350px;
	margin:0 auto;
}
.left{
	width:680px;
	height:1350px;
	float:left;
}
.left h4{
	padding-top:20px;
	color:#06F;
	padding-left:30px;
}
.taolun{
	width:680px;
	height:160px;
	clear:both;
}
.title{
	color:#06F;
	text-decoration:none;}
.left_1{
	width:110px;
	height:160px;
	float:left;}
.left_1 img{
	width:60px;
	padding-left:50px;
	border-radius:50%;
	padding-top:30px;
}
.left_1 h5{
	padding-left:52px;
	padding-top:10px;
	float:left;
}
.left_2{
	float:left;
	width:540px;
	background-color:white;
	margin-left:30px;
	margin-top:20px;
	height:160px;
	position:relative;
	}
.left_2 h2{
	padding-left:40px;
	padding-top:30px;
	font-weight:normal;
	}
.left_2 a{
	position:absolute;
	top:36px;
	right:5px;
	font-size:13px;}
.left_2 p{
	padding-top:30px;
	font-size:13px;
	padding-left:40px;}
.left_2 span{
	position:absolute;
	bottom:0;
	right:20px;
	font-size:13px;}
.left_2 span a{
	position:static;
	left:0;
	padding-right:350px;
}
.content .input{
	width:300px;
	height:50px;
	margin-left:180px;
	margin-top:50px;
	float:left;}
.content .submit{
	width:100px;
	height:50px;
	margin-top:50px;
	margin-left:15px;
	}
.right{
	width:300px;
	height:1220px;
	float:left;
	margin-top:30px;
	margin-left:20px;}
.tuijian_bianti{
	width: 300px;
	height: 50px;
	border-bottom: 2px solid #ccc;
	position: relative;
}
.tuijian_bianti .h2_1{
	padding-top: 20px;
	color: rgb(243,143,103);
	float: left;
	padding-left: 30px;
}
.tuijian_bianti .h2_2{
	padding-top: 20px;
}
.tuijian_bianti a{
	position: absolute;
	bottom: 0;
	right: 0;
	color: rgb(243,143,103);
}
.right ul{
	margin-top:10px;
	list-style-type:none;
	font-size:13px;}
.right li{
	margin:5px auto;
}
.tushu{
	width:300px;
	height:160px;}
.tushu img{
	float:left;
	padding-top:20px;
	padding-left:10px;}
.tushu p{
	text-align:center;
	padding-top:50px;
	font-size:13px;}
	footer{
	background-color: rgb(141,139,139);
	width: 1600px;
	height: 70px;
}
footer ul{
	padding-top: 20px;
	padding-left: 480px;
	list-style: none;
}
footer li{
	display: inline;
	margin: 0 20px;
}
footer  a{
	color: white;
	text-decoration: none;
	
}
footer a:hover{
	text-decoration-line: underline;
}
footer  p{
	color: white;
	padding-left: 600px;
	padding-top: 7px;
}